In [2]:
import json
from preprocessing import create_dataset_from_config

In [3]:
with open("config.json", "rb") as config_file:
    config_data = json.load(config_file)

train_data = create_dataset_from_config(config_data)
train_data[0]

Result dataset length: 21461

       volume     open    close     high      low                date ticker
0   5035444.0  90.6575  90.9500  90.9575  90.6042 2020-06-25 19:37:00   AAPL
1   8473984.0  90.9450  91.2250  91.2550  90.9050 2020-06-25 19:52:00   AAPL
2    120732.0  91.2475  91.1250  91.2500  91.1050 2020-06-25 20:07:00   AAPL
3     74984.0  91.1250  91.0000  91.1625  91.0000 2020-06-25 20:22:00   AAPL
4     79656.0  91.0000  91.0950  91.1750  90.9700 2020-06-25 20:37:00   AAPL
5     84888.0  91.0875  91.1375  91.1750  91.0875 2020-06-25 20:52:00   AAPL
6    188344.0  91.1875  91.1875  91.2100  91.1875 2020-06-25 21:07:00   AAPL
7     12652.0  91.1900  91.1200  91.2075  91.1200 2020-06-25 21:22:00   AAPL
8    617316.0  91.1175  91.1750  91.1875  91.1100 2020-06-25 21:37:00   AAPL
9     21128.0  91.1875  91.2475  91.2475  91.1125 2020-06-25 21:52:00   AAPL
10    14616.0  91.1500  91.1700  91.2375  91.1325 2020-06-25 22:07:00   AAPL
11    34988.0  91.1575  91.1750  91.2375  91.1575 2020-06-25 22:22:00   AAPL
12    30096.0  91.1850  91.2000  91.2000  91.1250 2020-06-25 22:37:00   AAPL
13     9132.0  91.2250  91.2200  91.2250  91.1975 2020-06-25 22:52:00   AAPL
14     4132.0  91.1800  91.2050  91.2050  91.1800 2020-06-25 23:07:00   AAPL

{'datasets': ['tickers_sample'],
 'result_name': 'lstm_train_dataset',
 'time_interval': 15,
 'time_units': 'minute',
 'window': 15,
 'date_column': 'date'}